@import "tailwindcss";
@import "@fontsource/vazirmatn";

:root {
  --font-sans: 'Vazirmatn', sans-serif;
  font-family: var(--font-sans);
}

body {
  direction: rtl;
  text-align: right;
  background-color: #f3f4f6;
  /* gray-100 */
  color: #1f2937;
  /* gray-800 */
}